*, *:after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, .vs-container {
	position: relative;
	width: 100%;
	height: 100%;
}
img{
	margin-right: 30%;
	margin-bottom: 20px;
	margin-top: 5px;
}
.photo-caption{
	font-style: italic;
	font-size: 85%;
	line-height: 80%;
	color: #999;
	letter-spacing: 0.02rem;
	font-weight: 300;
	padding: 0;
	margin: 0;
}
.no-border{
	border: none;
}
.gimme-space{
	margin-top: 7em !important;
}
.intro{
	font-size: 2.5em !important;
}
body {
	font-family: sans-serif;
	color: #111;
	background: #fff;
	font-size: 16px;
}
p{
	line-height: 165%;
	margin: 0 0 15px 0;
	padding: 0;
	color: #444;
	font-weight: 400;
	font-family: 'Lato';
}

a{
	color: #0599E6;
	text-decoration: none;
}
a:hover{
	color: #20ADF7;
	text-decoration: none;
}
b{
	font-family: 'Lato';
	text-transform: uppercase;
	color: #111;
}
h3{
	font-size: 1rem;
	text-transform: uppercase;
	margin-bottom: 30px !important;
	letter-spacing: 0.1em;
}
.lighter-text{
	font-size: 60%;
	font-weight: 300;
}
.small-sans{
	font-size: 80%;
	text-transform: uppercase;
	margin-bottom: 20px !important;
	letter-spacing: 0.1em;
	font-family:'Lato', sans-serif;
	font-weight: 500 !important;
	color: #999 !important;
}
#other-projects{
	margin-top: 8em;
	margin-bottom: 1em;
}
.no-touch .vs-container {
	overflow-x: hidden;
}

.vs-header {
	z-index: 200;
	margin: 1em auto;
	padding: 1em;
	width: 90%;
	text-align: center;
	-webkit-backface-visibility: hidden;
}

.vs-container > header h1 {
	margin: 0em 0 0.5em 0.1em;
	padding: 0 0 0.8em;
	text-align: left;
	-webkit-backface-visibility: hidden;
	display:none;
}

.vs-container > header span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 60%;
	font-weight: 400;
	color: #893027;
}

.vs-nav {
	position: relative;
	display: block;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

.vs-triplelayout .vs-nav {
	width: 33.33%;
	height: 80px;
}

.vs-nav li {
	display: inline-block;
	margin-bottom: 10px;
	text-align: center;
	text-decoration: none;
}

.vs-triplelayout .vs-nav li {
	position: absolute;
	visibility: hidden;
	width: 100%;
}

.vs-nav li a {
	position: relative;
	display: inline-block;
	margin: 0 10px;
	padding: 10px 0;
	outline: none;
	letter-spacing: 0.1em;
	font-size: 90%;
	font-weight: 600;
	/*border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;*/
	color: #888;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: border-color 0.3s, color 0.3s;
	transition: border-color 0.3s, color 0.3s;
}

.vs-nav li a:hover{
	color: #999;
}

.vs-nav li a:focus,
.vs-triplelayout .vs-nav .vs-nav-current a,
.vs-container.vs-move-left .vs-nav-right a,
.vs-container.vs-move-right .vs-nav-left a {
	border-color: #111;
	color: #111;
}

.vs-container.vs-move-left .vs-nav-current a,
.vs-container.vs-move-right .vs-nav-current a {
	border-color: #111;
	color: #999;
}

.vs-triplelayout .vs-nav .vs-nav-left,
.vs-triplelayout .vs-nav .vs-nav-right,
.vs-triplelayout .vs-nav .vs-nav-left-outer,
.vs-triplelayout .vs-nav .vs-nav-right-outer,
.vs-triplelayout .vs-nav .vs-nav-current {
	visibility: visible;
}

.vs-triplelayout .vs-nav .vs-nav-current {
	left: 0%;
}

.vs-triplelayout .vs-nav .vs-nav-left {
	left: -100%;
}

.vs-triplelayout .vs-nav .vs-nav-right {
	left: 100%;
}

.vs-triplelayout .vs-nav .vs-nav-right-outer {
	left: 200%;
}

.vs-triplelayout .vs-nav .vs-nav-left-outer {
	left: -200%;
}

.vs-container.vs-move-left .vs-nav-left,
.vs-container.vs-move-left .vs-nav-left-outer,
.vs-container.vs-move-left .vs-nav-current,
.vs-container.vs-move-left .vs-nav-right,
.vs-container.vs-move-left .vs-nav-right-outer {
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

.vs-container.vs-move-right .vs-nav-left,
.vs-container.vs-move-right .vs-nav-left-outer,
.vs-container.vs-move-right .vs-nav-current,
.vs-container.vs-move-right .vs-nav-right,
.vs-container.vs-move-right .vs-nav-right-outer {
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);	
}

.vs-container.vs-move-left .vs-nav-left,
.vs-container.vs-move-right .vs-nav-right {
	opacity: 0;
}

.vs-wrapper {
	position: relative;
	display: block;
	overflow: hidden;
	min-height: 100%;
	width: 100%;
}

.vs-wrapper > section {
	z-index: 1;
	min-height: 100%;
	background-position: 100% 0;
	background-repeat: no-repeat;
}

#section-1 { background-image: url(../images/); }
#section-2 { background-image: url(../images/); }
#section-3 { background-image: url(../images/); }
#section-4 { background-image: url(../images/); }
#section-5 { background-image: url(../images/); }

.vs-triplelayout .vs-wrapper > section {
	position: absolute;
	top: 0;
	left: 10%;
	visibility: hidden;
	padding: 0 0 100px;
	width: 80%;
	-webkit-backface-visibility: hidden;
}

.vs-triplelayout .vs-wrapper > section:not(.vs-current) {
	overflow: hidden;
	height: 100%;
}

.vs-triplelayout .vs-wrapper .vs-left,
.vs-triplelayout .vs-wrapper .vs-left-outer,
.vs-triplelayout .vs-wrapper .vs-current,
.vs-triplelayout .vs-wrapper .vs-right,
.vs-triplelayout .vs-wrapper .vs-right-outer {
	visibility: visible;
}

.vs-triplelayout .vs-wrapper .vs-left {
	left: -70%; /* 80 - 10 */
}

.vs-triplelayout .vs-wrapper .vs-left-outer {
	left: -150%; /* - 70 - 80 */
}

.vs-triplelayout .vs-wrapper .vs-current {
	position: relative;
	z-index: 100;
}

.vs-triplelayout .vs-wrapper .vs-right {
	left: 90%; /* 80 + 10 */
}

.vs-triplelayout .vs-wrapper .vs-right-outer {
	left: 170%; /* 90 + 80 */
}

.vs-container.vs-move-left .vs-left,
.vs-container.vs-move-left .vs-current,
.vs-container.vs-move-left .vs-right,
.vs-container.vs-move-left .vs-right-outer {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

.vs-container.vs-move-right .vs-left,
.vs-container.vs-move-right .vs-left-outer,
.vs-container.vs-move-right .vs-current,
.vs-container.vs-move-right .vs-right {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

.vs-sidenav div {
	position: fixed;
	top: 0;
	width: 10%;
	height: 100%;
	background: rgba(0,0,0,0.06);
	cursor: pointer;
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
}

.vs-sidenav div:hover {
	background: rgba(0,0,0,0.09);
}

.vs-sidenav .vs-sidenav-left {
	left: 0px;
	z-index: 1;
}

.vs-sidenav .vs-sidenav-right {
	right: 0px;
	z-index: 1;
}

/* inner content */


.vs-content .col-1 {
		width: 50%;
		margin-bottom: 2em;
	}

.vs-content {
	position: relative;
	margin: auto;
	padding: 1em 0;
	width: 95%;
	text-align: left;
	/*font-size: 1.5em;*/
}

.vs-content h1 {
	position: relative;
	margin: 30px 0 5px;
	color: #111;
	font-weight: 700;
	font-size: 2.5em;
	line-height: 120%;
	font-family:'Lato', sans-serif;
}
#section-0 .vs-content h1 {
	margin-bottom: 25px;
}
.vs-content h2 {
	position: relative;
	margin: 30px 0 10px;
	color: #111;
	font-weight: 700;
	font-size: 2.2em;
	line-height: 120%;
	font-family:'Lato', sans-serif;
}
.vs-content .col {
	/*margin: 0 auto;*/
	text-align: left;
	line-height: 1.5;
	width: 70%;
	/*-webkit-column-width: 60%;
	-moz-column-width: 60%;
	column-width: 60%;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 1%;
	-moz-column-gap: 1%;
	column-gap: 1%;*/
}

.vs-header,
	.vs-wrapper {

	}

	.vs-content {
		width: 85%;
	}

	.vs-content h2 {
		font-size: 2.1em;
	}

	.vs-nav li a {
		width: 160px;
		font-family: 'Lato', helvetica, sans-serif;
	}

/*	.vs-content .col {
		-webkit-column-width: 50%;
		-moz-column-width: 50%;
		column-width: 50%;
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
	*/

/* Media queries */
@media screen and (max-width: 72.875em) {

	.vs-header,
	.vs-wrapper {
		
	}

	.vs-content {
		width: 85%;
	}

	.vs-content h2 {
		font-size: 1.8em;
	}

	.vs-nav li a {
		width: 160px;
		font-family: 'Lato', helvetica, sans-serif;
		font-size: 1rem;
	}

	.vs-content .col {
		
	}
}


/*@media screen and (max-width: 45.25em) {*/
@media screen and (max-width: 41.25em) {

	.vs-container > header h1 {
		margin-bottom: 0;
	}

	.vs-content h2 {
		margin: 0 0 1em;
		font-size: 1.5em;
	}

	.vs-wrapper {
		font-size: 80%;
	}

	.vs-triplelayout .vs-nav li a {
		width: auto;
		font-size: 72%;
	}

	.vs-wrapper > section {
		background-position: 0 28em;
		background-size: 100%;
	}

	.vs-header{
		width:85%;
	}

	.vs-content .col {
		-webkit-column-width: auto;
		-moz-column-width: auto;
		column-width: auto;
		-webkit-column-count: auto;
		-moz-column-count: auto;
		column-count: auto;
	}

}

