body {
    font-family: 'Lato', Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0 auto;
}
a img {
    border: none;

}
#bigAd {
    float: right;
}

#content {
    padding-top: 627px;
    background-color: #f5f5f5;
}

/* Main header and Top nav */

#fixedHeader {
	width: 100%;
	position: fixed;
	z-index: 100;
}
#headertop {
    height: 40px;
    background-color: #333;
    margin: 0 auto;
	overflow: hidden;
}
#headercontent {
    width: 950px;
    margin: auto;
	padding: 5px 0;
    font-family: 'Lato', Arial, sans-serif;
}
#homepagelink {
    width: 54px;
    background-image: url("../img/logo_off.png");
    height: 21px;
    float: left;
	text-indent: -9999px;
	overflow: hidden;
	border-top: 4px solid #333;
}
	#homepagelink:hover {
	    background-image: url("../img/logo_on.png");
	}
a.leftheader {
    float: left;
    line-height: 30px;
    padding-left: 25px;
    color: #777;
    text-decoration: none;
	font-size: 12px;
}
	a.leftheader:hover {
	    color: #fff;
	}
.rightheader {
    float:right;
    margin: 0 0 0 10px;
    height: 35px;
    background-position: center;
    background-repeat: no-repeat;
	position: relative;
	bottom: 3px;
}
#listenlink {
	height: 10px;
	width: 38px;
	line-height: 2px;
	padding: 11px 10px 1px 22px;
	background: url('../img/icon_listen.png') no-repeat 8px 7px;
	color: #fff;
	border: 1px solid #555;
	margin: 2px 0 0 25px;
}
#listenlink:hover {
	color: #e11837;
	background: url('../img/icon_listen_on.png') no-repeat 8px 7px;
	border: 1px solid #e11837;
}
#fblogo {
    background-image: url("../img/icon_fb_off.png");
    width: 8px;
}
	#fblogo:hover {
	    background-image: url("../img/icon_fb_on.png");
	}
#tweetbird {
    background-image: url("../img/icon_tw_off.png");
    width: 20px;
}
	#tweetbird:hover {
	    background-image: url("../img/icon_tw_on.png");
	}
#supportbutton {
    background-image: url("../img/support_off.png");
    width: 98px;
}
	#supportbutton:hover {
	    background-image: url("../img/support_on.png");
	}
	
#headershadow {
	padding-bottom: 1px;
	margin-bottom: 15px;
	background: rgb(150, 150, 150);
	background: rgba(100, 100, 100, 0.1);
	border: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(250, 250, 250);
	border-bottom-color: rgba(200, 200, 200, 0.1);
}
#headerbottomwrapper {
    width: 100%;
    background-color: white;
    margin: 0 auto;
    position: relative;
	overflow: hidden;
}
#headerbottom {
    height: 50px;
    width: 950px;
    padding-top: 12px;
    padding-bottom: 3px;
    margin: auto;
	overflow: hidden;
	position: relative;
}
#election2012header {
	margin: 0 20px 5px 0;
	position: absolute;
	bottom: 0;
	left: 0;
}
ul#nav {
	position: absolute;
	left: 260px;
    top: 20px;
}
ul#nav li {
	list-style: none inside;
	font-size: 14px;
    float: left;
	margin: 0 20px 5px 0;
    font-family: 'Lato', Arial, sans-serif;
}
	ul#nav li a {color: #000; text-decoration: none;}
	ul#nav li a:hover {color: #e11837; text-decoration: none;}
#social {
    position: absolute;
    right: 0;
    bottom: 6px;
    text-decoration: none;
    color: black;
    width: 185px;
}
	#social iframe {
	    height: 20px;
	    border: none;
	    width: 75px;
	}

#div-gpt-ad-1352131791621-0 {
    width: 960px;
    margin: 0 auto 15px auto;
}

/* Headers */

hr.sectionDivider {
	border: 0;
	height: 20px;
	background: #f5f5f5 url('../img/rule_bg.png') repeat-x;
	width: 950px;
	margin: 0 auto;
	clear: both;
}
h3 {
    font-family: 'Lato', Arial, sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	margin: 0 0 15px 0;
	float: left;
	font-weight: normal;
	letter-spacing: 0.1em;
}
h3.fullheader {
	width: 950px;
	margin: 0 auto 15px auto;
	float: none;
}

/* Map: A Patchwork Nation */

#map {
    width: 950px;
    margin: 0 auto;
	overflow: hidden;
	margin-top: 60px;
	padding-top: 6px;
	background-color: #fff;
	border: 1px solid rgba( 0, 0, 0, 0.1);
}
#storylinkwrapper {
    float: right;
    height: 11px;
}
#storylink {
    float: right;
    background-image: url("../img/icon_story_off.png");
    background-repeat: no-repeat;
    width: 115px;
    height: 9px;
	position: relative;
	top: 2px;
}
	#storylink:hover {
	    background-image: url("../img/icon_story_on.png");
	}

/* Top 10 */

#topten {
    width: 950px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;
}
.centered-description {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: left;
}

/* Game */
    #game0, #game, #game1, #game2, #game3 {
    overflow: hidden;
    margin-top: 20px;
    clear: left;
    width: 100%;
}
#game3 .section-title, #game3 .audio-item{
	background: #fff;
}
#game3 .audio-item{
	min-height: 50px;
}
#game3 a{
	color: #DF013A;
	text-decoration: underline;
}
.audio-bundle{
	/*border-bottom: 1px solid #e5e5e5;*/
	padding-bottom: 0px;
}
.audio-bundle a{
	text-decoration: none;
}
.audio-item{
	width: 100%;
	min-height: 140px;
	padding: 15px;
	background: #f0f0f0;
	overflow: hidden;
}
.audio-item a{
	color: #DF013A;
	text-decoration: underline;
}
.audio-img{
	width: 140px;
	height: 140px;
	overflow: hidden;
	margin: 0px 15px 0px 0px;
	padding: 0;
	float: left;
}
.audio-img-align{
	width: 140px;
	height: 140px;
	overflow: hidden;
	margin: 0px 15px 0 0;
	padding: 0;
	float: left;
}
.audio-img img{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.audio-img-align img{
	height: 100%;
	margin: 0;
	padding: 0;
	margin-left: -30%;
}
#sandy-title{
	font-size: 24pt;
	padding-top: 9px;
	font-weight: bold;
}
.audio-title{
	font-size: 10.5pt;
	padding-bottom: 8px;
	color: #000;
	margin-top: -6px;
	background: #f0f0f0;
}
.section-title{
	font-size: 14pt;
	padding-bottom: 10px;
	border-bottom: 1px solid #f5f5f5;
	padding-top: 12px;
	font-weight: bold;
	background: #f0f0f0;
	padding-left: 15px;
}
.width-620, .width-600{
	font-family: Georgia, serif;
	color: #5e5e5e;
	font-size: 10pt;
	font-weight: light;
}
.width-620{
	width: 920px;
	padding-top: 1px;
}
.width-600{
	width: 650px;
	padding-bottom: 20px;
}

.read-more{
	margin-top: 10px;
	font-size: 10pt;
	text-align: left;
	padding: 15px;
	background: #fff;
}
.read-more a{
	color: #DF013A;
	text-decoration: underline;
}

iframe {
}

/* Footer */

#pageCredits {
	width: 950px;
	margin: 5px auto;
	margin-bottom: 50px;
	color: #999;
	font-size: 12px;
}
	#pageCredits a {
		color: #999;
		text-decoration: underline;
	}
	#pageCredits a:hover {
		color: #e11837;
	}

#footer {
    width: 100%;
    margin: auto;
    margin-top: 15px;
    background-color: #333;
    color: #999;
    font-size: 11px;
    line-height: 22px;
    height: 150px;
    font-family: 'Lato', Arial, sans-serif;
}
#footercontent {
    margin: auto;
    width: 950px;
    padding-top: 15px;
}
#footerlogo {
    float: left;
    padding-top: 15px;
}
#footertext {
    margin-left: 95px;
    padding-top: 1px;
}	
#footertext p {
	line-height: 15px;
	width: 630px;
}
.footerlink {
    margin-right: 5px;
    color: #ccc;
}
#footer a {
    text-decoration: none;
    color: #999;
}
	#footer a:hover {
	    text-decoration: underline;
	    color: #fff;
	}
	
/* Map Elements */

#topwidgetwrapper {
	width: 952px;
    margin: 0 auto 20px auto;
    border: solid 1px #eee;
    padding: 0;
}
#topwidget {
    width: 950px;
    height: 495px;
    border: solid 1px #ccc;
    background-color: #fff;
    position: relative;
}
#topwidgettooltip {
    display: none;
    position: absolute;
    background-image: url("../img/hover_flyout.png");
    width: 90px;
    height: 44px;
    text-align: center;
    z-index: 40;
}
#topwidgettooltiptext {
    color: #fff;
    margin: auto;
    margin-top: 13px;
    font-size: 11px;
    line-height: 13px;
    width: 90px;
}
#electoral-chart,#community-label {

}
#electoral-chart-top {
    float: left;
    clear: both;
    width: 95%;
}
#patchworksidebar {
    width: 240px;
    height: 495px;
    float: left;
}
	#patchworksidebar > div
	{
	    margin-left: 2.5%;
	}
#romneylabel, #obamalabel {
	color: #000;
	font-size: 18px;
	font-weight: bold;
	margin: 5px 0 10px 0;
}
	#obamalabel {float: left;}
	#romneylabel {float: right;}
#voteslabel {
    float: left;
    clear: both;
    font-size: 14px;
    color: #000;
    font-weight: bold;
    padding-bottom: 5px;
}
#electoral_bar {
    cursor: pointer;
	position: relative;
    clear: both;
    width: 95%;
    height: 20px;
	background: #eee;
	overflow: hidden;
    margin-bottom: 3px;
	cursor: pointer;
}
#obama_electoral, #romney_electoral, #toWin_electoral {
	position: absolute;
	height: 20px;
	border: 0;
}
	#obama_electoral {
	    background-color: #0066ff;
	    left: 0;
		z-index: 10;
	}
	#romney_electoral {
	    background-color: #ff3333;
		right: 0;
		z-index: 10;
	}
	#toWin_electoral {
		background-color: #999;
		width: 1px;
		left: 49.5%;
		z-index: 1;
	}
#electoral_counts {
    clear: both;
	position: relative;
    width: 95%;
	height: 22px;
}
	#obama_count, #romney_count, #toWin_count {
		font-size: 14px;
	    font-weight: bold;
		position: absolute;
	}
	#obama_count {
	    color: #0066ff;
		left: 0;
	}
	#romney_count {
	    color: #ff3333;
		right: 0;
	}
	#toWin_count {
	    color: #999;
		left: 45%;
	}
	
#community-label {
    float: left;
    clear: both;
    font-size: 14px;
    color: #000;
    font-weight: bold;
    padding-bottom: 5px;
}
#rightside {
    position: absolute;
    top: 0;
    right: 0;
    width: 710px;
    height: 495px;
    background-color: #ddd;
}
#infoheader {
    background-color: #ddd;
    display: none;
    height: 38px;
    width: 690px;
    float: left;
	padding: 7px 10px 10px 10px;
}
#patchworkmap, #electoralmap, #statemap {
    height: 440px;
    width: 710px;
    float: left;
    background-color: #ddd;
    cursor: pointer;
}
#patchworkmap{
    display:block;
}
#electoralmap {
    display: none;
}
#statemap {
    display: none;
    position: relative;
}
#gobacklink {
    color: #e11837;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    background: #ddd;
	padding: 10px;
}
	#gobacklink:hover {
		text-decoration: underline;
	}
	#gobacklink img {
		margin: 0 0 0 7px;
	}
	
#patchworkCredit {
	padding: 7px 10px 10px 10px;
	color: #999;
        float: left;
	text-align: right;
	font-size: 14px;
        height: 38px;
        width: 690px;
}
#patchworkLogo {
	position: absolute;
	bottom: 5px;
	right: 10px;
	z-index: 5;
}
	
.hoverMeta {
	float: left;
    width: 65%;
}
#community-name, #state-name {
    float: left;
    font-weight: bold;
}
#community-percent, #state-percent {
    float: left;
    color: #999;
    padding-left: 10px;
}
#community-description, #state-description {
    float: left;
	clear: left;
    font-size: 11px;
	color: #999;
	margin: 2px 0 0 0;
    width: 100%;
}
#community-toprow, #state-toprow {
    float: left;
    width: 100%;
}

#community-romney, #state-romney {
    float: right;
    color: #ff3333;
    padding-left: 10px;
    width: 112px;
}
#community-obama, #state-obama {
    float: right;
    color: #0066ff;
    width: 112px;
}
#community-romney span, #state-romney span, #community-toprow span, #state-toprow span, #community-obama span, #state-obama span {float: right;}
	.count_romney {font-size: 11px; color: #ff3333; clear: both; padding-top: 1px;}
	.count_obama {font-size: 11px; color: #0066ff; clear: both; padding-top: 1px;}

	
.community_entry {
    float: left;
    clear: both;
    width: 100%;
}	
.community-bar-name {
    width: 100%;
    float: left;
    clear: both;
    font-size: 11px;
    height: 12px;
    color: #999;
    padding-bottom: 7px;
}
#communities .community-name {
    width: 100%;
    float: left;
    clear: both;
}
.communitybar {
    float: left;
    clear: both;
    height: 10px;
    width: 95%;
	margin: 0 0 1px 0;
    cursor: pointer;
}
.communitybarpart {
    float: left;
    height: 10px;
}
.community-name {
    float: left;
    clear: both;
}

#tshirt label {
    margin-bottom: 10px;

}
#tshirt {
    float: right;
    width: 300px;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 18px;
    

}
#top10frame {
    float: left;

}
#tshirt-header {
    font-size: 24px;

}
#nameinput {
    height: 25px;
    width: 285px;
}
#breedform {
    margin-top: 30px;
    margin-bottom: 30px;
}
#zipform {
    margin-top: 30px;
    margin-bottom: 30px;

}

#nameform {
    margin-bottom: 10px;
    margin-top: 20px;
}
#breedselect {
    margin-top: 5px;
}

#zipselect {
    margin-top: 5px;
    height: 25px;
    width: 285px;

}
#buttonform {
    margin: auto;
    text-align: center;
}
select {
    height: 25px;
    width: 285px;

}
#maketshirtbutton {
    margin: auto;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    width: 150px;

    border: solid 1px rgba(0,0,0,0.1);
}
#maketshirtbuttoncontent {
    border: solid 1px rgba(0,0,0,0.1);
    width: 150px;
    padding-top: 11px;
    background-color: #f7c600;
    padding-bottom: 10px;
    box-sizing: border-box;

}
#maketshirtbuttoncontent:hover {
    background-color: black;
    color: white;

}
.select2-container, form .select2-container .select2-choice {
    background-image: none;
    color: black;
}
.select2-container .select2-choice div b {
    color: black;

}
#dogfooter {
    width: 100%;
    height: 320px;
    background-image: url("../img/footer_background.png");
    background-repeat: repeat-x;
    background-position: bottom;

}


#carouselsection {
    width: 100%;
    background-color: white;
}
#carousel {
    cursor: pointer;
    background-image: url("http://www.wnyc.org/i/raw/photologue/images/b0/nj_flood.jpg"); 
    background-color: white;
    height: 500px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin: auto;
    position: relative;
}
#carousel img{
	width: 100%;
}
#leftarrow {
    position: absolute;
    top: 45%;
    left: -60px;
    height: 42px;
    width: 20px;
    background-repeat: no-repeat;
    background-image: url("../img/arrow_backward.png");
    cursor: pointer;
}
#leftarrow:hover {
    background-image: url("../img/arrow_backward_hover.png");

}
#rightarrow {
    position: absolute;
    cursor: pointer;
    top: 45%;
    right: -60px;
    height: 42px;
    width: 20px;
    background-repeat: no-repeat;
    background-image: url("../img/arrow_forward.png");
}
#rightarrow:hover {
    background-image: url("../img/arrow_forward_hover.png");

}
#carousel-caption {
    position: absolute;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    color: #999;
    bottom: -15px;
    right: 0;
    z-index: 15;

}
.label {
    margin-bottom: 10px;

}
#tshirt-image {
    margin-top: 30px;
    margin-bottom: 30px;

}
.select2-drop {
    z-index: 50;

}
