*, *:after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, #container, .container, .wrapper {
	font-size: 16px;
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

.wrapper{
	margin: 0 auto;
	width: 92%;
	max-width: 800px;
	padding-top: 75px;
}

.wrapper.role{
	padding-top: 0px;
}

.visual{
	background: #f5f5f5;
	margin-top: 30px;
}

.full-width{
	background: #f5f5f5;
	margin-top: 0px;
}

.visual img{
	width: 100%;
}

.visual img .width-50{
	width: 50%;
}

.visual .wrapper{
	padding-top: 25px;
	padding-bottom: 25px;
}

.caption{
	font-family: 'Georgia';
	font-size: 0.9em;
	color: #666;
	font-style: italic;
	text-align: center;
}

.grey-back{
	background-color: #333;
	color: #fff;
}

.footer .wrapper{
	padding-top: 0px !important;
}

.footer{
	bottom: 0;
	margin: 0;
	padding: 0;
	margin-top: 75px;
	padding-top: 20px;
	padding-bottom: 30px;
}

.footer h3, .footer h1{
	color: #fff;
}

p{
	font-size: 1em;
	line-height: 1.6em;
	margin: 0;
	padding: 0;
}

a{
        text-decoration: none;
}

a:hover{
	text-decoration: none;
}

h1{
	position: relative;
	color: #111;
	font-weight: 600;
	font-size: 1.2em;
	margin: 0;
	display: inline;
}


h2 {
	position: relative;
	color: #111;
	font-weight: 500;
	font-size: 2.5em;
	line-height: 130%;
	margin: 0;
}

h3 {
	position: relative;
	color: #111;
	font-weight: 300;
	font-size: 1em;
}

.header{
	height: 50px;
	background-color: #fff;
	margin: 0;
	top: 0;
	width: 100%;
	position: fixed;
	border-bottom: 1px solid #000;
	z-index: 100;
	padding-top: 11px;
}

.header-wrapper{
	width: 92%;
	margin: 0 auto;
	max-width: 800px;
}

.contact{
	float: right;
}

.intro{
	padding-bottom: 55px;
	padding-top: 20px;
}

.intro-contact{
	margin-bottom: 100px;
}

.intro h2{
	margin-bottom: 0.2em;
}

.intro h1{
	font-weight: 400;
}

.blue-back{
	background-color: #326891;
}

.light-blue-back{
	background-color: #ccdfff;
}

.blue-back h2,.blue-back h1{
	color: #fff;
}

h1 a{
	color: #fff;
	font-size: 1em;
	border: 1px solid #fff;
	text-decoration: none;
	padding: 4px 10px;
	border-radius: 3px;
	display: inline-block;
	margin-top: 20px;
}

h3 a {
        color: #4078c0;
	text-decoration: none;
}

 h3 a:hover {
        color: #2d5386;
	text-decoration: none;
}

.quote{
	font-family: 'Georgia';
	font-style: italic;
	font-weight: light;
	font-size: 1.1em;
	display: block;
	line-height: 1.4em;
}

.description{
	font-weight: 100;
}

.kicker{
	text-transform: uppercase;
	margin-bottom: 0;
	font-size: 0.9em;
}

.kicker.project{
	font-weight: 600;
	padding-top: 15px;
	padding-bottom: 5px;
}

.kicker-black-line{
	padding-bottom: 5px;
	border-bottom: 2px solid #000;
	margin-bottom: 25px;
}

.kicker-grey-line{
	border-bottom: 1px solid #d0d0d0;
}

.kicker-white-line{
	padding-bottom: 5px;
	border-bottom: 1px solid #fff;
	margin-bottom: 25px;
}

.project-promo{
	border-bottom: 1px solid #000;
	padding-bottom: 20px;
	margin-bottom: 15px;
}

.no-line{
	border-bottom: none;
}


.project-promo img{
	width: 100%;
	display: inline;
	padding-bottom: 10px;
}

.project-promo h1 {
	display: inline;
}

ul{
	margin: 0;
	padding: 0;
    -webkit-padding-start: 19px;
}

li{
	padding-bottom: 10px;
}

.other-projects{
	margin-top: 60px;
	margin-bottom: 40px;
}

.other-projects h1{
	display: block;
	margin-bottom: 20px;
	line-height: 1.3em;
}

.rot-90{
 -webkit-transform: rotate(90deg);  /* to support Safari and Android browser */
    -ms-transform: rotate(90deg);      /* to support IE 9 */
    transform: rotate(90deg);	
}


.rot-180{
 -webkit-transform: rotate(180deg);  /* to support Safari and Android browser */
    -ms-transform: rotate(180deg);      /* to support IE 9 */
    transform: rotate(180deg);	
}

/*
@media screen and (max-width: 72.875em) {

}

@media screen and (max-width: 41.25em) {
	h2 {
	position: relative;
	color: #111;
	font-weight: 600;
	font-size: 1.62em;
	font-family: 'Poppins', sans-serif;
}

h3 {
	position: relative;
	color: #333;
	font-weight: 300;
	font-size: 1em;
	font-family: 'Poppins', sans-serif;
}
}

*/















